{% extends 'template.html' %}

{% block head %}
    <title>Play the Game</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="page-header" id="word-output">TEXT DISPLAY</h1>
        <input type="text" class="form-control form-control-lg" placeholder="Type here" id="word-input" autofocus>
        <hr>
        <h5 id="message"><strong>message</strong></h5>
        <hr>
        <p>Time left (s): <span id="time">time</span></p>
        <p>Current score: <span id="wordcnt">words</span></p>
        <p>High score: <span id="highScore">N/A</span></p>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="name_entry">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Player name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>What's your name?</p>
                    <form>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name_input" placeholder="Player name">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-dark">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="game_end">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Game over!</h5>
                </div>
                <div class="modal-body">
                    <p>Time has run out.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // This function embedded in HTML because it receives JSON data from the web server (simplest way to handle the data)
        // This function is called from inside the js file.
        // We don't use fetch (like when we get the high score) because we only need to do this once
        function getWordList() {
            // Get the list of strings from the python web server encoded in JSON format
            let words = JSON.parse('{{ myWords | safe }}')    // Do not use " --- MUST use ' !!!!!
            return words
        }


    </script>

    {# This is the main game script #}
    <script src={{ url_for('static', filename='gamescript.js') }}></script>

{% endblock %}