{% extends 'template.html' %}

{% block head %}
    <title>TypingTester Home</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">

{#        <img src="{{ url_for('static', filename='type.jpg') }}" class="img-thumbnail" alt="Let's type!">#}
{#        <img src="{{ url_for('static', filename='type.jpg') }}" class="img-fluid" alt="Let's type!">#}
        <h1 class="display-4">TypingTester</h1>
        <p class="lead">Compete against your friends!</p>

        <hr class="my-4">

        <p>Do your best to type as many words that appear as you can within the time limit!</p>
        <a class="btn btn-dark btn-lg" href="/game" role="button" id="play_btn">Let's play!</a>
    </div>



{% endblock %}