{% extends 'template.html' %}

{% block head %}
    <title>Index</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">TypingTester</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem corporis cupiditate eligendi error est expedita facilis magnam minima molestias, numquam officiis possimus praesentium quis ratione saepe, similique velit vero?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt est et, fugiat nesciunt temporibus. Amet aperiam ex facilis fugiat impedit modi molestias optio, velit. Error ipsa labore minima molestiae?</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

{% endblock %}